.BR2JSX {
    background-color: lightblue;
    width: 500px;
    margin: auto;
    border: 3px solid #212fad;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: black;
}  

